body{
  color: #e84545;
}

header{
  height: 100px;
  color: white;
  background: url(travelg1.jpg);
  background-repeat: no-repeat;
  background-size: fill;
  margin-left: 10px;
  margin-bottom: 8%
}


header section nav ul{
float: right;
margin-top: 50px;
margin-right: 20px;
}

header section nav ul li{
list-style-type: none;
display: inline;
word-spacing: 15px;
font-weight: bold;
font-size: 20px;
}


header section nav ul li a{
  text-decoration: none;
  color:#2b2e4a;
}

header section h1{
  
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  width: 25%;
  height: 10px;
  font-size: 40px;
}

header img{
  width: 200px;
  height: 300px;
  object-fit: contain;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  margin-bottom: 50px;
  width: 50%;
}

main img{
  width: 500px;
  height: 250px;
  object-fit: contain;
}

#intro{
  height: 120px;
  margin-top: 5%;
  margin-bottom: 7%;
  padding-left: 10%;
  padding-right: 10%
}

#intro h2{
text-align: center;
height: 25px;
font-size: 30px;
margin-bottom: 50px;
}

#intro p{
  color: #2b2e4a;
  text-align: center;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

#intro{
  height: 120px;
}

#intro h2{
 text-align: center;
 height: 25px;
}

#intro p{
  color: #2b2e4a;
text-align: center;
height: 100px;
 font-family: Arial, Helvetica, sans-serif;
 padding: 20px;
margin: 20px;
}

.destinations img{
  width: 500px;
  height: 250px;
  object-fit: cover;
}

.destinations {
text-align: center;
height: 350px;
font-size: 22px;
margin-top: 30px;
}

footer{
  color: white;
  padding: 15px;
  font-weight: bold;
  background: url(travelg1.jpg);
  background-repeat: no-repeat;
  background-size: fill;
  margin-top: 5%;
}