header{
  height:25px;
  color:#91c788; 
}

header h1 { 
font-size:150%;
float: left;
margin:0%; 
}

header nav{
float:right;
 }

header nav ul li {
display: inline; 
} 

ul li a{
  text-decoration: none;
  color:black;
}